<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="Todo App for raziloBind from the website.">
		<meta name="keywords" content="js, es6, data, binding, view, model, vm, html, element, library, framework">
		<title>raziloBind, todo app from main website</title>

		<!-- Site style -->
		<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Exo+2:400,400italic,500,500italic,700,700italic|Pacifico" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/style.min.css">

		<!-- Polyfill native API's if missing -->
        <script type="text/javascript" src="node_modules/proxy-oo-polyfill/proxy-oo-polyfill.min.js"></script>
	</head>
	<body>
		<div class="examples">
			<div class="row">
				<div class="col-sm-6-offset col-sm-6">
					<p class="text-center">
						<a href="https://github.com/smiffy6969/razilobind-examples-todoapp"><i class="fa fa-github"></i> Get this code</a>
					</p>
					<div id="todo-app" class="text-center">
						<h2 class="text-center">Todo App</h2>
						<p bind-hide="todos">You do not have any todos yet, add one?</p>
						<ul>
							<li bind-for="todos">
								<button class="btn btn-sm btn-primary show-hide" bind-event="{'click': toggleTodo($value)}"><i class="fa fa-pencil"></i></button>
								<button class="btn btn-sm btn-danger remove" bind-event="{'click': removeTodo($key)}"><i class="fa fa-trash"></i></button>
								<p bind-text="$value.text" bind-hide="$value.toggle"></p>
								<input type="text" bind-value="$value.text" bind-show="$value.toggle"/>
							</li>
						</ul>
						<button class="btn btn-success" bind-event="{'click': addTodo()}"><i class="fa fa-plus"></i> Todo</button>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="assets/distributable.js"></script>
	</body>
</html>
